// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
	background-color: $bg-footer;
	color: white;
	padding-bottom: 20px;

	h2 {
		@include font-logo;
		font-size: 1.2em;
		font-weight: 400;
		margin: 0;
		padding: 20px;
	}

	.footer {
		display: flex;
		padding: 0 0 0.25em 20px;
		font-size: 1em;
		font-weight: 400;
		i {
			width: 40px;
	
		}
		h3 {
			font-size: 1em;
			font-weight: 400;
		}
		a {
			text-decoration: none;
			color: white;
		}	
	}
}