// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
	position: relative;
	box-shadow: 0 3px 3px darken($background-light,20%);
	margin-bottom: 3px;
	@include font-logo;
	h1 {
		font-size: 2rem;
		text-align: center;
		margin: 0 3px 0;
		padding: 2rem;
	}
}

.arrow {
	position: absolute;
	top: calc(100% / 2 - 0.5em);
	left: 20px;
	font-size: 2rem;
	float: left;
	display: block;
	margin: auto;
	color: black;
}