/*
 * Fichier fonctionnement.scss
 * ------------------------
 * Fichier de style dédié a la rubrique d'explication du fonctionnement du site
 */
 
 .fonctionnement {
	margin-bottom: 30px;
    counter-reset: counter-etape;
    font-size: 1em;
    ol{
        // Variables locales pour dimentionner les box d'étapes
        $button-height: 1rem;       // padding
        $circle-proportion: 1.3;    // Taille du cercle
        
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: 0 1rem;
        // Règle spécifique pour afficher les items en ligne si desktop
        @media (max-width: $bp-desktop) {
            flex-direction: column;
        }
        li {
            display: flex;
            align-items: center;
            flex-grow: 1;           // Les <li> occupent tout l'espace
            gap: 0.5rem;
            position: relative;     // Positionnement relatif pour le pos absolu en dessous 
            padding: $button-height $button-height $button-height calc(2 * $button-height);
            margin-left: $button-height;
            border: none;
            list-style: none; 
            font-size: $button-height;      // Pas de numérotation par défaut
            border-radius: $button-height;
            background-color: $background-light;
            box-shadow: 2px 2px 5px grey;
            @include animation-duration;
            &:hover {
                @include button-animation;
            }
            &::before {
                display: flex;                      // Flex pour aligner le chiffre facilement
                justify-content: center;
                align-items: center;
                align-content: center;
                position: absolute;   
                font-size: $circle-proportion * 0.75rem;
                //top: 1rem;              // Pour pouvoir décaler l'élément a gauche
                left: -1 * calc($circle-proportion / 2) * $button-height;                  // Décalage à gauche
                width: $circle-proportion * $button-height;
                height: $circle-proportion * $button-height;
                counter-increment: counter-etape;   // Incrément du compteur d'étape
                content: counter(counter-etape);    // Affichage du compteur d'étape
                border-radius: 50%;
                background-color: $primary-color;
                color:white;
            }
        }
    }
}

