.fonctionnement {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
    @media (min-width: 768px) {
        flex-direction: row;
    }
    
	.btn-menu {
		@extend %font-body;
		font-weight: 500;
		border: none;
	}

	button {
		display: flex;
		align-items: center;
		margin: 10px 20px;
		border-radius: 20px;
		padding: 1rem;
		span {
			width: 30px;
			
			
			background-color: $primary-color;
			padding: 4px 8px;
			border-radius: 50%;
			float: left;
			color: white;
			margin-left: -30px;
		}
		i {
			width: 4rem;
			color: gray;
		}
	}
}

