// Section du titre de la page
header {
	box-shadow: 0 3px 3px darken($background-light,20%);
	margin-bottom: 3px;
	@include font-logo;
	h1 {
		font-size: 2em;
		text-align: center;
		margin: 00 3px 0;
		padding: 1em;
	}
}

