/*
 * Fichier header.scss
 * ------------------------------------
 * Styles relatifs a la partie header de la page
 */
 
 // Section du titre de la page
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 3px 3px darken($background-light,20%);
	margin-bottom: 3px;
	@include font-logo;
	h1 {
		font-size: 2em;
		text-align: center;
		margin: 00 3px 0;
		padding: 1em;
	}
	i {
		font: var(--fa-font-solid);
		font-size: 2rem;
		content: '\f060';
		display: inline-block;
	}
}

