// Localisation et banniere d'accueil

.localisation {
	display: flex;
	justify-content: center;
	gap: 0.5em;
	padding: 1em 0;
	background-color: $background-localisation;
	font-size: 1.2em;
}

.banniere {
	background-color: $background-light;
	text-align: center;
	padding: 40px 20px;
    h2 {
        padding: 0;
        padding-bottom: 1em;
    }
	p {
		font-size: small;
		padding: 0;
        padding-bottom: 1em;
	}
}

.btn {
    $size: 1rem;
	background: linear-gradient($secondary-color, $primary-color);
	font-size: $size;
	border:none;
	color: white;
	border-radius: $size * 2;
    box-shadow: 2px 1px 5px grey;
	padding: $size $size * 2;
    background-image: linear-gradient($secondary-color,$primary-color);
    transition: all 250ms;
&:hover {
        transform: scale(1.02);
        opacity: 0.9;
	}
}

