/*
 * Fichier localisation-banniere.scss
 * ------------------------
 * Localisation et banniere d'accueil
 */
 
.localisation {
	display: flex;
	justify-content: center;
	gap: 0.5em;
	padding: 1em 0;
	background-color: $background-localisation;
	font-size: 1.2em;
}

.banniere {
	background-color: $background-light;
	text-align: center;
	padding: 40px 20px;
    h2 {
        padding: 0;
        padding-bottom: 1em;
    }
	p {
		font-size: small;
		padding: 0;
        padding-bottom: 1em;
	}
}

