.carte-resto {
    img {
        max-width: 100%;
    }
    .menu {
        position: relative;
        .menu-choix {
            position: relative;
            top:-70px;
            border-radius: 40px;
            background-color: #f6f6f6;
            .section {
                .plat {
                    h3 {
                        padding: 10px;
                    }

                }
            }
        }

    }
}


.plat {
    width: 100%;
    padding: 10px;
    background-color: #fff;
}