
// Couleurs imposées par la charte graphique
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$alternate-color: #99E2D0;

// Gris utilisé sur les différents background
$background-light: #f5f5f5;
$background-localisation: darken($background-light,8%);
$bg-footer: #3e3e3e;

// Classes de couleurs
.fg-primary {
	color: $primary-color!important;
}

// Mixins pour les polices de caracteres
@mixin font-logo {
	font-family: 'Shrikhand', 'cursive';
}

@mixin font-body {
	font-family: 'roboto' , 'sans-serif';
}

// Mixin pour le dégradé utilisé à plusieurs endroits
@mixin box-gradient {
    background-image: linear-gradient($secondary-color,$primary-color);
}

@mixin animation-duration {
	transition-duration: 250ms;
}

@mixin button-animation {
	transform: scale(1.02);
	opacity: 0.9;
}
// Reset des propriétés 
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Reset de body et definition police a utiliser : font-body->Roboto
body {
	margin: 0;
	padding: 0;
	@include font-body;
}

// Définition du container qui va wrapper tous les éléments
.container{ 
	max-width: 1200px;
	margin: 0;		// Centrage
	padding: 0;
	background-color: white;
	color: black;
}

h2 {
	font-size: 1.5rem;
	padding: 3rem 0 1rem 2rem;
}

