@keyframes appear {
	0% {
		//transform: scale(0);
		opacity: 1;
		transform: scale(1) rotate(0);
	}
	100% {
		//transform: scale(1);
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
}

@keyframes dash {
	0% {
	  stroke-dasharray: 1, 150;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -35;
	}
	100% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -124;
	}
}
  
@keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
}
  
.bg-spinner {
	display: grid;
	place-items: center;
	position: fixed;
	inset: 0;
	background-color: white;
	animation: appear 1s 3s ease-in;
	animation-fill-mode: forwards;
	z-index: 2;
}
.spinner {
	background-color: white;
	color: green;
	z-index: 3;
	animation: rotate 2s linear infinite;

	width: 100px;
	height: 100px;
	& .path {
		stroke: hsl(210, 70%, 75%);
		stroke-linecap: round;
		animation: dash 1.5s ease-in-out infinite;
	  }
}

