@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primary-color: #9356DC;
$Secondary-color: #FF79DA;
$alternate-color: #99E2D0;
$background-light: #f5f5f5;
$background-localisation: darken($background-light,8%);

%font-title {
	font-family: 'Shrikhand', 'cursive';
}

%font-body {
	font-family: 'roboto' , 'sans-serif';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	@extend %font-body;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
	background-color: white;
	color: black;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 3px 3px $background-light;
	margin-bottom: 3px;

	h1 {
		@extend %font-title;
		font-size: 2em;
		text-align: center;
	}
}

.localisation {
	display: flex;
	gap: 10px;
	padding: 10px 0;
	background-color: $background-localisation;
	font-size: 1.2em;
	justify-content: center;
}

.banniere {
	display: flex;
	flex-direction: column;
	background-color: $background-light;
	text-align: center;
	padding: 40px 20px;
	p {
		font-size: small;
		padding: 10px;
	}
}

.btn {
	background: linear-gradient($Secondary-color, $primary-color);
	font-size: 0.9rem;
	border:none;
	color: white;
	border-radius: 30px;
	margin: auto;
	padding: 15px 20px;
}

h2 {
	font-family: 'roboto', 'sans-serif';
	font-size: 1.5rem;
	padding: 3rem 0 1rem 2rem;
}

.fonctionnement {
	display: flex;
	flex-direction: column;

	.btn-menu {
		@extend %font-body;
		font-weight: 500;
		border: none;
	}

	button {
		display: flex;
		align-items: center;
		margin: 20px;
		border-radius: 20px;
		padding: 1rem;
		span {
			width: 30px;
			
			
			background-color: $primary-color;
			padding: 4px 8px;
			border-radius: 50%;
			float: left;
			color: white;
			margin-left: -30px;
		}
		i {
			width: 4rem;
			color: gray;
		}
	}
}

.fg-primary {
	color: $primary-color!important;
}
.restaurants {
	background-color: $background-light;
}

.card {
	display: block;
	position: relative;
	flex-direction: column;
	border: 1px solid black;
	margin: 0 20px 20px 20px;
	border-radius: 20px;
	border:none;
	background-color: #fff;
	box-shadow: 0 0 10px lightgray;
	img {
		width: 100%;
		border-radius: 20px 20px 0 0;
		height: 200px;
		object-fit: cover;
	}
	h2 {
		padding: 1rem 0 0.25rem 1rem;
		margin: 0;
		font-size: 1.25rem;
	}
	p {
		padding: 0 0 1rem 1rem;
	}
	.top-right {
		display: inline-block;
		position: absolute;
		right: 20px;
		top: 20px;
		width: auto;
		align-items: center;
		justify-content: center;
		padding: 6px 10px;
		text-align: right;
		background-color:$alternate-color;
		color:darken($alternate-color, 50%);
		font-size: .9em;
		font-weight: 700;
		
	}
}

footer {
	background-color: black;
	color: white;

	h2 {
		@extend %font-title;
		font-size: 30px;
	}

	.menu {
		padding-left: 10px;
		i {
			width: 40px;
		}
		display: flex;
	}
}