.banniere {
	background-color: $background-light;
	text-align: center;
	padding: 40px 20px;
    h2 {
        padding: 0;
        padding-bottom: 1em;
    }
	p {
		font-size: small;
		padding: 0;
        padding-bottom: 1em;
	}
}
