/*
 * Fichier localisation-banniere.scss
 * ------------------------
 * Localisation et banniere d'accueil
 */
 
.localisation {
	display: flex;
	justify-content: center;
	gap: 0.5em;
	padding: 1em 0;
	background-color: $background-localisation;
	font-size: 1.2em;
}


