.container {
    background-color: #f6f6f6;
}

.banner img {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center bottom;
}

.carte-resto {
    position: relative;
    margin-top: -2rem;
    padding: 0;
    border-radius: 40px;
    background-color: #f6f6f6;  
} 

.menu-title {
    position: relative;
    display: flex;
    @include font-logo;
    h2 {
        width: calc(100% - $width-hearth);
        padding: 2rem 0 2rem 1rem;
    }
    &::before {
        /*
            * Mixin heart (coeur contour uniquement) avec parametres
            *  - base opacity: 1  (visible)
            *  - font-weight: 400 (juste le contour)
            */
        @include heart(1, 400, true);
    }
    &::after {
        /*
            * Mixin heart (coeur plein) avec parametres
            *  - base opacity: 0  (invisible)
            *  - font-weight: 900 (coeur plein)
            */
        @include heart(0, 900, true);
        transition-duration: 0.5s;
    }
    &:hover::after {
        /*
            * Sur le hover on fait apparaitre le coeur plein
            *  - opacity: 1 (visible)
            */
            opacity: 1;
    }
}

.menu {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 1100px) {
        grid-template-columns: repeat(3, 1fr);
    }
    margin-top:-2em;
    border-radius: 40px;
    background-color: #f6f6f6;
    @for $i from 1 through 12 {
        .section:nth-of-type(#{$i}) {
            animation-delay: 200ms * $i;
        }
    }
    .section {
        position: relative;
        top: 5vh;
        overflow: hidden;
        animation: shift-up 3s;
        animation-fill-mode: forwards;
        >h3 {
            font-weight: 700;
            margin: 1rem;
            content: '@';
            text-transform: uppercase;
            padding: 1rem 0 0.5rem 0;
            font-weight: 300;
            border-bottom: 3px $alternate-color solid;
            border-width:thick;
            width: 12%;
        }
        @keyframes shift-up {
            to{
                top:0
            }
        }
        .plat {
            //*{ border:1px solid red; }
            display: flex;
            align-items: stretch;
            background-color: #fff;
            margin: 1em;
            border-radius: 20px;
            overflow: hidden;   
            text-overflow: ellipsis;
            white-space: nowrap;
            box-shadow: 0 0 19px 0 lightgrey;
            .description {
                padding: 1em;
                //width: auto;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                h3 {
                    font-size: 1em;
                    text-overflow: ellipsis;
                    overflow:hidden;
                    white-space: nowrap;
                }
                div {
                    font-size: 0.75em;
                    //white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow:hidden;
                    white-space: nowrap;
                    //width: calc(100% - 4rem);
                }
            }
            .price {
                display: flex;
                align-items: center;
                margin-left: auto;
                font-weight: 900;
                padding-right: 1rem;
            }
            .check {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -6rem;
                min-width: 6rem;
                font-weight: 900;
                background-color: $alternate-color;
                transition: all 1s;
                i {
                    background-color: white;
                    color: $alternate-color;
                    border-radius: 50%;
                    padding: 0.3rem;
                }
            }
            &:hover .check {
                margin-right: 0;
                @keyframes rot {
                    0% {
                        transform: rotate(0);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
                i {
                    animation: rot 1s ;
                }
            }
        } 
    }
}

.commander {
    display: flex;
    justify-content: center;
    padding: 3rem 0 4rem 0;
}


