@keyframes appear {
	0% {
		//transform: scale(0);
		opacity: 1;
		// transform: scale(1);
	}
	100% {
		//transform: scale(1);
		opacity: 0;
		// transform: scale(0);
		z-index: 0;
	}
}

// Classe bg-spinner pour l'apparition progressive après un délai de 3secondes
.bg-spinner {
	display: grid;
	place-items: center;
	position: fixed;
	inset: 0;
	background-color: white;
	animation: appear 1s 3s ease-in;
	animation-fill-mode: forwards;
	z-index: 2;
	opacity: 1;
}

// Keyframes pour l'animation en rotation du svg
@keyframes dash {
	0% {
	  stroke-dasharray: 1, 150;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -35;
	}
	100% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -124;
	}
}

// Classe spinner, pour l'animation du svg
.spinner {
	background-color: white;
	color: green;
	width: 200px;
	height: 200px;
	z-index: 3;
	& .path {
		stroke: $primary-color;
		stroke-linecap: round;
		animation: dash 2s ease-in-out infinite;
	  }
}

